@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0px;
  padding: 0px;
}
body {
  text-align: center;
}

.container {
  position: absolute;
  height: 450px;
  width: 50%;
  background: #1f3d4738;
  text-align: center;
  display: flex;
  flex-direction: column;
  top: 20%;
  left: 25%;
  z-index: 1;
}
h1 {
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  color: white;
  padding-top: 80px;
  padding-bottom: 30px;
}
.box {
  padding-bottom: 30px;
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
#inp {
  padding: 10px 40px;
  font-size: 20px;
  text-align: center;
  background: transparent;
  border: 2px solid black;
}

#output {
  padding: 10px 40px;
  font-size: 20px;
  text-align: center;
  background: transparent;
  border: 2px solid black;
  color: white;
}

input::placeholder {
  color: white;
}
.box-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* -------------CSS Animation Area --------- */
.animation-area {
  background: linear-gradient(to left, #8942a8, #ba382f);
  width: 100%;
  height: 100vh;
}
.square-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.square-area li {
  position: absolute;
  display: block;
  list-style: none;
  width: 25px;
  height: 25px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 20s linear infinite;
  bottom: -150px;
}

.square-area li:nth-child(1) {
  left: 86%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}
.square-area li:nth-child(2) {
  left: 12%;
  width: 30px;
  height: 30px;
  animation-delay: 1.5s;
  animation-duration: 10s;
}
.square-area li:nth-child(3) {
  left: 70%;
  width: 100px;
  height: 100px;
  animation-delay: 5.5s;
}
.square-area li:nth-child(4) {
  left: 42%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 15s;
}
.square-area li:nth-child(5) {
  left: 65%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
}
.square-area li:nth-child(6) {
  left: 15%;
  width: 110px;
  height: 110px;
  animation-delay: 3.5s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-800px) rotate(360deg);
    opacity: 0;
  }
}
